@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide {
  /* For Webkit-based browsers (Chrome, Safari) */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}